extends ../../layout

block content
  .content.row
    section
      .flexslider
        ul.slides
         each file in Exchange.Files
          li
            a(href="javascript:;")
              img(src="#{file.path}", alt="")
    .detail
      .form-item.col-xs-9
        a(href="#")
          img.usercard(title="", alt="", src="/app/assets/images/user_photo.png")
        span.username 不羁放纵爱自由
      .form-item.col-xs-3.text-right(style="line-height: 50px;")
        span.productdata #{moment(Exchange.createdAt).format('YYYY/MM/DD')}
      .clearfix
      .item-separator
      .form-item.col-xs-8
        h3 #{Exchange.title}
      .form-item.col-xs-4
        span.degree #{Exchange.degree}
        a.active(href="#")
         i.icon-like
      .clearfix
      .item-separator
      .form-item.col-xs-8
        label.control-label 交易周期：
        span #{Exchange.cycle}
      .form-item.col-xs-4
        label.control-label 期待：
        span #{Exchange.expect}
      .clearfix
      .item-separator
      .form-item.col-xs-12
        label.control-label 交易地点：
        span #{Exchange.loco}
      .clearfix
      .item-separator
      .form-item.col-xs-12
        label.control-label 描述：
        .clearfix
        div #{Exchange.claim}
      .clearfix
      .item-separator
      .form-item.col-xs-7
        label.control-label #{Exchange.contact}&nbsp;
        span #{Exchange.phoneNumber}
      .col-xs-5.contact 
        a.item.telphone(href="#")
          i.icon-telphone
          span 电话
        a.item.message(href="#")
          i.icon-message
          span 短信
      .clearfix
      .item-separator

        
  script(type="text/javascript").
    $(function(){
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });