extends ../../layout

block content
  .content
    #waterfull.waterfull
      ul
       each item in Exchanges
        li.item
          a.a-img(href="/exchange/detail/#{item.id}")
            img(src="#{item.Files[0].path}", alt="")
          h2(title="#{item.title}") #{item.title}
          .foot
            a.active(href="#")
              i.icon-like
            span.time #{moment(item.createdAt).format('YYYY/MMM/DDD')}
  script(type="text/javascript").
    $(function(){
      var container = $('.waterfull ul');
      container.imagesLoaded(function(){
        container.masonry({
          columnWidth: 0,
          itemSelector : '.item',
          isFitWidth: true,//是否根据浏览器窗口大小自动适应默认false
          isAnimated: true,//是否采用jquery动画进行重拍版
          isRTL:false,//设置布局的排列方式，即：定位砖块时，是从左向右排列还是从右向左排列。默认值为false，即从左向右
          isResizable: true,//是否自动布局默认true
          animationOptions: {
              duration: 800,
              easing: 'easeInOutBack',//如果你引用了jQeasing这里就可以添加对应的动态动画效果，如果没引用删除这行，默认是匀速变化
              queue: false//是否队列，从一点填充瀑布流
          }
        });
      });

    });